<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{Normal/base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title th:text="${title}">ADD CONTACT FORM</title>
</head>
<body>
	<section>
		<div class="card me-3 ms-3">
			<div class="cart-body">
				<h1 class="text-center my-5">Add Contact</h1>

				<div class="container-fluid mt-1 mb-3">
					<div class="row">
						<div class="col-md-10 offset-md-1">
							<form action="#" th:object="${contact}" method="post"
								th:action="@{/user/process-contact}" enctype="multipart/form-data" class="mt-2">

								<!-- First Name -->
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-plus user"></i>
										</div>

									</div>

									<input type="text" 
										id="firstName" 
										name="name"
										placeholder="Enter your Name here" 
										class="form-control" 
										th:value="${contact.name}"
										th:classappend="${#fields.hasErrors('name') ? 'is-invalid':''}"
									/>
									<div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}"></div>
								</div>
								
								<!-- Second Name -->
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-user-alt user"></i>
										</div>

									</div>

									<input type="text" 
										id="secondName" 
										name="secondName"
										placeholder="Enter your NickName here" 
										class="form-control"
										th:value="${contact.secondName}"
										th:classappend="${#fields.hasErrors('secondName') ? 'is-invalid':''}" 
									/>
									<div class="invalid-feedback" th:each="e : ${#fields.errors('secondName')}" th:text="${e}"></div>
								</div>
								
								<!-- Work -->
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-briefcase user"></i>
										</div>

									</div>

									<input type="text" 
										id="job_title" 
										name="work"
										placeholder="Enter Job Title here" 
										class="form-control"
										th:value="${contact.work}"
										th:classappend="${#fields.hasErrors('work') ? 'is-invalid':''}" 
									/>
									<div class="invalid-feedback" th:each="e : ${#fields.errors('work')}" th:text="${e}"></div>
								</div>
								<!-- Email -->
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-envelope user"></i>
										</div>

									</div>

									<input type="email" 
										id="email" 
										name="email"
										placeholder="Enter valid email" 
										class="form-control"
										th:value="${contact.email}"
										th:classappend="${#fields.hasErrors('email') ? 'is-invalid':''}" 
									/>
									<div class="invalid-feedback" th:each="e : ${#fields.errors('email')}" th:text="${e}"></div>
								</div>
								<!-- Phone -->
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<div class="input-group-text">
											<i class="fa fa-phone user"></i>
										</div>

									</div>

									<input type="number" 
										id="phone" 
										name="phone"
										placeholder="Enter your Phone Number" 
										class="form-control"
										th:value="${contact.phone}" 
										th:classappend="${#fields.hasErrors('phone') ? 'is-invalid':''}"
									/>
									<div class="invalid-feedback" th:each="e : ${#fields.errors('phone')}" th:text="${e}"></div>
								</div>
								
								<!-- Description -->
								<div data-mdb-input-init class="form-outline mb-4">
  									<textarea placeholder="Enter contact description" 
  										class="form-control" 
  										id="mytextarea" 
  										name="description" 
  										th:field="*{description}"
  										th:classappend="${#fields.hasErrors('description') ? 'is-invalid':''}"
  										rows="10"></textarea>
  										<div class="invalid-feedback" th:each="e : ${#fields.errors('description')}" th:text="${e}"></div>
								</div>
								<!-- Image -->
								<div class="custom-file mb-3">
        							<input type="file" name="image"
               						class="form-control"
               						th:classappend="${#fields.hasErrors('image')} ? 'is-invalid' : ''" />
        							<div class="invalid-feedback" th:each="e : ${#fields.errors('image')}" th:text="${e}"></div>
    							</div>
								
								<div class="container text-center mb-3">
									<button class="btn btn-outline-primary" type="submit">Save contact</button>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script src="https://cdn.tiny.cloud/1/plg8zkp7brpf84yziihvaahrxduerdcj4x3rn0e461pfbcve/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
		
		<script src="/path/or/uri/to/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: '#mytextarea',
        license_key: 'gpl|<your-license-key>'
      });
    </script>

	</section>
</body>
</html>