<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{Normal/base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}">User Deshbord</title>
</head>
<body>
	<section>
		<div class="card ms-3 me-3">
			<div class="card-body " th:if="${contact}">
				<div class="container text-center">
					<img class="contact_details rounded-circle mb-3" src="" th:src="@{'/Image/'+${contact.image}}" alt="Profile-Image" />
					<h3> <span class="me-1" th:text="${contact.name}"></span>(<span th:text="${contact.secondName}"></span>)</h3>
					
					<table class="table mt-5">
					  <tbody>
					    <tr>
					      <th scope="row">#ID</th>
					      <th>SCM2025<span th:text="${contact.cid}"></span></th>
					    </tr>
					    <tr>
					      <th scope="row">Email</th>
					      <th><span th:text="${contact.email}"></span></th>
					    </tr>
					    <tr>
					      <th scope="row">Phone</th>
					      <th><span th:text="${contact.phone}"></span></th>
					    </tr>
					    <tr>
					      <th scope="row">Work</th>
					      <th><span th:text="${contact.work}"></span></th>
					    </tr>
					  </tbody>
					</table>
					
					<div class="description">
						<p th:utext="${contact.description}"></p>
					</div>
					<div class="container mt-3 d-flex p-2 gap-2 justify-content-center">
						<button th:onclick="|deleteContact(${contact.cid})|" class="btn btn-danger btn-lg">Delete</button>
						<form th:action="@{'/user/update_contact/'+${contact.cid}}" method="post">
							<button type="submit" class="btn btn-primary btn-lg">Edit</button>
						</form>
					</div>		
				</div>
			</div>
			<div th:unless="${contact}" class="text-center p-3 bg-danger text-light">
				<h1> You don't have permission to see this contact... </h1>
			</div>
		</div>
	</section>
</body>
</html>