<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{Normal/base::layout(~{::section})}">
<head>
<meta charset="UTF-8" />
<title th:text="${title}">User Deshbord</title>
</head>
<body>
	<section>
		<div class="card ms-3 me-3">
			<div class="card-body">
				<h1 class="text-center">Your Contact List</h1>

				<table class="table">
					<thead>
						<tr>
							<th scope="col">#ID</th>
							<th scope="col">NAME</th>
							<th scope="col">EMAIL</th>
							<th scope="col">PHONE</th>
							<th scope="col">ACTION</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c : ${contacts}">
							<th scope="row" th:text="${'SCM2025'+c.cid}">1</th>
							<td >
								<img class="my_profile_picture rounded-circle" src="" th:src="@{'/Image/'+${c.image}}" alt="Profile-Image" />
								<span class="ms-2" th:text="${c.name}"></span>
							</td>
							<td>
								<a href="#" th:href="@{'/user/'+${c.cid}+'/contact'}">
									<span th:text="${c.email}"></span>
								</a>
							</td>
							<td th:text="${c.phone}">@mdo</td>
							<td>
								<a href="#" th:onclick="|deleteContact(${c.cid})|" class="btn btn-danger btn-sm">Delete</a>
								<button class="btn btn-primary btn-sm">Edit</button>
							</td>
						</tr>
						
					</tbody>
				</table>
				
				<nav aria-label="Page navigation example" class="mt-3">
				  <ul class="pagination">
				    <li th:if="${currentPage != 0}" class="page-item">
				      <a th:href="@{'/user/view_contact/'+${currentPage-1}}" class="page-link" href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				        <span class="sr-only">Previous</span>
				      </a>
				    </li>
				    
				    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i :${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/view_contact/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
				    
				    <li th:if="${currentPage+1 != totalPages}" class="page-item">
				      <a th:href="@{'/user/view_contact/'+${currentPage+1}}" class="page-link" href="#" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				        <span class="sr-only">Next</span>
				      </a>
				    </li>
				  </ul>
				</nav>
			</div>
		</div>
	</section>
</body>
</html>