<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{Normal/base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title th:text="${title}">User Deshbord</title>
</head>
<body>
	<section>
			<div class="card ms-3 me-3">
				<div class="card-body my-5">
					<div class="container text-center">
						<img class="default_image rounded-circle" src="" th:src="@{'/Image/contact.jpg'}" alt="Profile-Image" />
					</div>
					<h1 class="text-center text-secondary fst-italic fw-bolder">Start Adding your contact on cloud....</h1>
					
					<div class="container text-center mt-3">
						<a th:href="@{/user/add-contact}" class="btn btn-outline-primary btn-lg">Add Contact</a>
					</div>
				
				</div>
			</div>
	</section>
</body>
</html>